<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/dropzone.min.css') }}"
        />
    </head>
    <body>
         <h1 style:"color:red;">Amazing Amazon Animation</h1>
	<p>Wprowadź do poniższego boksa zdjęcia, a następnie wpisz swój adres e-mail, a wyślemy do Ciebie niesamowitą animacje. Konto premium już od 59zł za mc.</p>
        <form action="{{ url_for('upload_file')}}" class="upload-zone dropzone">
          <div class="fallback">
            <input name="uploaded_media" type="file" multiple />
          </div>
        </form>
        <form
            action="{{ url_for('process_order')}}"
            class="order-ctrl"
            onsubmit="event.preventDefault(); handleOrderForm(this);"
        >
            <input class="order-crtl--client-email" name="email" type="email" placeholder="Your email..."/>
            <button type="submit" class="order-ctrl--confirm">
                Prześlij
            </button>
            <button type="button" class="order-ctrl--reset">
                Wyczyść boks
            </button>
        </form>
    </body>
    <script src="{{ url_for('static', filename='js/vendor/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order_storage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/handle_order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
