<html>
    <head>

    </head>
    <body>
        <h1>Amazing Amazon Animation</h1>
	<p>Poniżej znajduje się niesamowita animacja, przygotowana przez autonomiczne serwery amazon aws:</p>
        {{ variables.download_url }}
        <a href="{{ variables.download_url }}">{{ variables.download_url }}</a>

	<h3>Dziękujemy!</h3>
	<p>Aby skorzystać z premium napisz do nas!</p>
    </body>
</html>
